body {
    margin: 0;
}
.resume-input {
    line-height: 80px;
    text-align: center;

    border-bottom: 1px solid #bfbfbf;
}
#resume-ip, #update-resume-btn {
    vertical-align: middle;
}

#resume-ip {
    width: 60%;
    height: 10%;
}
